*{
    padding: 0px;
    margin: 0px;

}

section{
    height: 120vh;
}

#sec1{
    background-image: url("imgs/puma---triple-black-pack---0.jpg");
    background-size: cover;
}


.nav1{
    background: black;
}

.nav2{
    
    background-color: #FFF;
}



nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 20px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.ul1{
    text-transform: uppercase;
    justify-content: flex-end;
    font-size: 11px;
}

.ul1 li a{
    color: grey;
}

.ul1 li a:active{
    color: white;
}

.list1 {
    position: relative;
    left: -100px;

}

.fa-solid{
    position: relative;
    left: 380px;
}

#lien1{
    position: relative;
    left: -220px;
}

.ul2{
    justify-content: flex-start;
    padding-top: 20px;
    margin-left: 300px;
}

.ul2 li a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    border-left: 1px;
    border-right: 1px;
}

#fila{
	position: relative;
	top: 135px;
	left: 100px;
    width: 180px;
	height: 120px;
}

.divext{
    display: flex;
    justify-content: center;
}

#logopuma{
    width: 100px;
    height: 100px;
}

.hsec1{
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
}

.psec1{
    color: #FFF;
    text-align: center;
}

.contenu{
    position: relative;
    top: 150px;
}

 .divsubmit{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
 }

 input[type="submit"] {
    color: #FFF;
    background: transparent;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-color: white;
}

input[type="submit"]:hover{
	color: red;
	border-color: red;
	background: black;
	font-weight: bold;
}

.divbutton{
    position: relative;
    top: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="button"] {
    border-color: #fff;
    background: #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px;

}

#gbutton{
    width: 7px;
    height: 7px;
}

.nixair{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nix, #air {
    width: 500px;
    height: 300px;
    position: relative;
    top: 0px;
}

.divimg1, .divimg2{
	position: relative;
	top: -20px;
}
.divborder {
	 display: flex;
    flex-direction: row;
    justify-content: center;
	position: relative;
	top: -320px;
}
.divborder1, .divborder2 {
	width: 400px;
	height: 200px;
	border: 5px solid #fff;
	margin: 50px;
}

.divpara1, .divpara2{
    display: inline-block;
	position: relative;
	top: -10px;
	left: -10px;
}
.divpara1, .divimg1{
	background: #DC7633;
}
.divpara2, .divimg2{
	background: #D7DBDD;
}
.pimg{
	color: white;
	font-size: 30px;
	font-weight: bolder;
}

.divpara1{
	width: 90px;
}